html {
    box-sizing: border-box;
    font-size: 62.5%;/*1 rem son 10pixels, utilizamos rem como medida */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* GLOBALES */
body {
    font-family: "Times New Roman", sans-serif;
    font-size: 1.6rem;
    /*background: #d4e3fff3;*/
    background-color: #ffffff;


}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 4rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 3.2rem;
    text-align: center;
}

@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.4rem;
    margin: 0 0 0.5px 0;
}

@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
    color: #000
}

.contenedor {
    max-width: 130rem;
    margin-inline: auto;
}

/* NAV */
.hero {
    margin-top: 20px;
    background-image: url('/images/automatizacion.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

.header {
    text-align: center;
    color: #333;
}
.titulo {
    font-size: 5rem;
    margin: 10;
    padding: 20px;
   /* background-color: #3498db;*/
    background-color: #C3D6E4;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navegador {
    padding: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.navegador a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    transition: background-color .3s ease-out;
    border-radius: 20px;
}
.navegador a:hover{
   /* background-color: #037bc0;*/
    background-color: #C3D6E4;
    color: white;
    border-radius: 20px;
}
/* NUESTROS VALORES */
.nuestros-valores {
    /*display: flex;*/
    height: 50rem;
    margin-top: 5rem;
}
.contenedor-cartas{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.value-card {
    width: 100%;
    margin: 20px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex-direction: row;
}

.value-card:hover {
    transform: scale(1.05);
}

.value-card::before {
    content: "";
    display: block;
    padding-top: 75%; /* Aspect ratio 4:3 */
}

.value-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.value-content {
    text-align: center;
    background-color: rgba(149, 190, 250, 0.8);
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    
}

.value-card:hover .value-content {
    opacity: 1;
}

.value-content p {
    margin: 0;
    color: #333;
}

/* Imágenes de fondo */
.value-card:nth-child(1) {
    background-image: url('/images/inovacion.jfif');
    background-size: contain;

}

.value-card:nth-child(2) {
    background-image: url('/images/apretonmanos.jfif');
    background-size: cover;
    background-position: center;
}

.value-card:nth-child(3) {
    background-image: url('/images/diversidad.jfif');
    background-size: cover;
    background-position: center;

}
/* SOBRE NOSOSTROS*/
.sobre-nosotros {
    display: flex;
    height: 60rem;
    margin-top: 10rem;

}

.box1 {
    background-image: url(/images/quienessomos.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    flex-basis: 60%;
    height: 100%;
}

.box2 {
    background-color: #C3D6E4;
    color: black;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    flex-basis: 50%;
    height: 100%;
    
}
/* NUESTRAS INTALACIONES*/
.nuestras-instalaciones {
    display: flex;
    height: 60rem;
    margin-top: 10rem;


}

.box2-2 {
    background-image: url(/images/instalaciones.jfif);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    flex-basis: 60%;
    height: 100%;
}

.box1-1 {
    background-color: #C3D6E4;
    color: black;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    flex-basis: 50%;
    height: 100%;
    
}
/*Nuestras soluciones y productos */
.productos {
    display: flex;
    justify-content: space-between;
}

.producto {
    width: calc(33.33% - 20px); /* Ajustar según el espacio disponible y el margen */
    margin-bottom: 20px;
}

.imagen {
    width: 100%;
    height: 200px; /* Altura deseada para todas las imágenes */
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.descripcion {
    padding: 10px;
    background-color: #C3D6E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.boton{
    margin-top: 10px;
    background-color: #5b90b6; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita la subrayado por defecto en los enlaces */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Borde redondeado del botón */
    transition: background-color 0.3s;
}
.boton:hover{
    background-color: rgb(24, 117, 179);
}

/* FOOTTER*/
#logo-fotter{
    width: 25px; /* Ancho deseado */
    height: 25px; /* Altura deseada */
}
footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container-footer{
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box-footer .logo img{
    width: 180px;
}

.box-footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box-footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    font-size: 20px;
}

.box-footer a:hover{
    opacity: 0.8;
}

.box-footer a .fab{
    font-size: 20px;
}

.box-copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box-copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
.contenedor-logo-link{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#h2-opciones{
    margin-left: -57px;
}